<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Create Customer</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Create Customer</li>
          </ol>
          <a href="customer-list.html">Back Customer List</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start form area ================= -->
<form class="form-search form-search-position">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 gutters-19">
        <div class="form-group">
          <input class="form-control" name="name" placeholder="Enter Customer Name" required type="text">
        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input placeholder="Enter Birthday" class="form-control" type="text" onfocus="(this.type='date')">

        </div>
      </div>
      <div class="col-lg-3  gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="gender">
              <option disabled selected value="">Gender</option>
              <option value="0">Female</option>
              <option value="1">Male</option>
              <option value="2">Other</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" name="id-card" placeholder="Enter ID Card" required type="text">

        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" name="phone" placeholder="Enter Phone" required type="text">
        </div>
      </div>
      <div class="col-lg-4  gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Email" required type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="address" placeholder="Enter Address" required type="text">

        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="image" placeholder="Enter URL Image" required type="text">
        </div>
      </div>
      <div class="col-lg-3  gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="customer-type">
              <option disabled selected value="">Customer Type</option>
              <option value="1">Diamond</option>
              <option value="2">Platium</option>
              <option value="3">Gold</option>
              <option value="4">Silver</option>
              <option value="5">Normal</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">

        <button class="Furama Resort" type="submit">Save</button>
      </div>
      <div class="col-6">

        <a href="customer-list.html" class="button button--cancel cancel-banner-btn text-center col-12">Cancel</a>
      </div>
    </div>
  </div>
</form>
<!-- ================ end form area ================= -->
