<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Create Facilities</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Create Facilities</li>
          </ol>
          <a href="facility-list.html">Back Facility List</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start form area ================= -->
<form class="form-search form-search-position">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 gutters-19">
        <div class="form-group">
          <input class="form-control" name="name" placeholder="Enter Facilities Name" required type="text">
        </div>
      </div>
      <div class="col-lg-6 gutters-19">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" name="cost" placeholder="Enter Cost" required type="number">
            </div>
          </div>
          <div class="col-sm-4 gutters-19">
            <div class="form-group">
              <input class="form-control" name="people" placeholder="Enter People" required type="number">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="rent-type">
              <option disabled selected value="">Rent Type</option>
              <option value="1">Hour</option>
              <option value="2">Day</option>
              <option value="3">Month</option>
              <option value="4">Year</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="stardard">
              <option disabled selected value="">Standard</option>
              <option value="1">Normal</option>
              <option value="2">Vip</option>
              <option value="3">President</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter URL Image" required type="text">
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <select id="facility_select" name="facility-type">
            <option disabled selected value="">Rent Type</option>
            <option value="1">Room</option>
            <option value="2">House</option>
            <option value="3">Villa</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" id="villa_items">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Pool Area" required type="text">
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Number Floor" required type="text">
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>
    <div class="row" id="house_items">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Number Floor" required type="text">
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>
    <div class="row" id="room_items">
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group row">
        <div class="col-6">

          <button class="button button--active button-form" type="submit">Save</button>
        </div>
        <div class="col-6">

          <a href="" class="button button--cancel cancel-banner-btn text-center col-12">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- ================ end form area ================= -->
