<div class="container">
  <div class="col-6">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Register Form</h2>
      <div class="mb-1">
        <label for="email">Email: </label>
        <input class="form-control" type="text" id="email" formControlName="email">
        <div
          *ngIf="registerForm.controls.email?.invalid&&(registerForm.controls.email?.dirty || registerForm.controls.email?.touched)">
          <div *ngIf="registerForm.controls.email?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
          <div *ngIf="registerForm.controls.email?.errors.email">
            <small class="form-text text-muted">Invalid Email</small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="password">Password: </label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <div
          *ngIf="registerForm.controls.password?.invalid&&(registerForm.controls.password?.dirty || registerForm.controls.password?.touched)">
          <div *ngIf="registerForm.controls.password?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
          <div *ngIf="registerForm.controls.password?.errors.minlength">
            <small class="form-text text-muted">Password must be more than 6 characters</small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="confirmPassword">Confirm Password: </label>
        <input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword">
        <div >
          <div *ngIf="registerForm.errors?.invalid">
            <small class="form-text text-muted">Password doesn't match</small>
          </div>
        </div>
        <div
          *ngIf="(registerForm.controls.confirmPassword?.invalid)&&(registerForm.controls.confirmPassword?.dirty || registerForm.controls.confirmPassword?.touched)">
          <div *ngIf="registerForm.controls.confirmPassword?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
          <div *ngIf="registerForm.controls.confirmPassword?.errors.minlength">
            <small class="form-text text-muted">Password must be more than 6 characters</small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="country">Country: </label>
        <select class="form-control" id="country" formControlName="country">
          <option disabled value="">Choose Your Country</option>
          <option value="1">Viet Nam</option>
          <option value="2">Korean</option>
          <option value="3">USA</option>
        </select>
        <div
          *ngIf="registerForm.controls.country?.invalid&&(registerForm.controls.country?.dirty || registerForm.controls.country?.touched)">
          <div *ngIf="registerForm.controls.country?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="age">Age: </label>
        <input class="form-control" type="text" id="age" formControlName="age">
        <div
          *ngIf="registerForm.controls.age?.invalid&&(registerForm.controls.age?.dirty || registerForm.controls.age?.touched)">
          <div *ngIf="registerForm.controls.age?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
          <div *ngIf="registerForm.controls.age?.errors.min">
            <small class="form-text text-muted">Age must be more than 18 </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label>Gender: </label>
        <input class="form-check-input" type="radio" value="0" id="gender" formControlName="gender"> Female
        <input class="form-check-input" type="radio" value="1" id="gender" formControlName="gender"> Male
        <input class="form-check-input" type="radio" value="2" id="gender" formControlName="gender"> Other
        <div
          *ngIf="registerForm.controls.gender?.invalid&&(registerForm.controls.gender?.dirty || registerForm.controls.gender?.touched || isSubmit) ">
          <div *ngIf="registerForm.controls.gender?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="phone">Phone: </label>
        <input class="form-control" type="text" id="phone" formControlName="phone">
        <div
          *ngIf="registerForm.controls.phone?.invalid&&(registerForm.controls.phone?.dirty || registerForm.controls.phone?.touched)">
          <div *ngIf="registerForm.controls.phone?.errors.required">
            <small class="form-text text-muted">Can not bank</small>
          </div>
          <div *ngIf="registerForm.controls.phone?.errors.pattern">
            <small class="form-text text-muted">Invalid Phone Number </small>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-success" type="submit">Submit</button>
      </div>

    </form>
  </div>
</div>
