<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Update Facilities</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Update Facilities</li>
          </ol>
          <a [routerLink]="['/facility/list']">Back Facility List</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start form area ================= -->
<form class="form-search form-search-position" [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="form-group">
          <input class="form-control" readonly formControlName="id" placeholder="Enter Facility Code" required type="hidden">
          <div
            *ngIf="facilityForm.controls.id?.invalid&&(facilityForm.controls.id?.dirty || facilityForm.controls.id?.touched || submit)">
            <div *ngIf="facilityForm.controls.id?.errors.required">
              <small class="form-text text-muted">Code can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.id?.errors.pattern">
              <small class="form-text text-muted">Invalid Code</small>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-7 gutters-19">
        <div class="form-group">
          <input class="form-control" formControlName="name" placeholder="Enter Facility Name" required type="text">
          <div
            *ngIf="facilityForm.controls.name?.invalid&&(facilityForm.controls.name?.dirty || facilityForm.controls.name?.touched || submit)">
            <div *ngIf="facilityForm.controls.name?.errors.required">
              <small class="form-text text-muted">Facility Name can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.name?.errors.pattern">
              <small class="form-text text-muted">Invalid Facility Name</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 gutters-19">
        <div class="form-group">
          <input class="form-control" formControlName="cost" placeholder="Enter Cost" required type="text">
          <div
            *ngIf="facilityForm.controls.cost?.invalid&&(facilityForm.controls.cost?.dirty || facilityForm.controls.cost?.touched || submit)">
            <div *ngIf="facilityForm.controls.cost?.errors.required">
              <small class="form-text text-muted">Cost can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.cost?.errors.pattern">
              <small class="form-text text-muted">Cost must be position integer</small>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-lg-3 gutters-19">
        <div class="form-group form-select-custom">
          <select formControlName="rentType" [compareWith]="compareRentTypeByID">
            <option disabled value="">Rent Type</option>
            <option [ngValue]="type" *ngFor="let type of rentTypes">{{type.name}}</option>
          </select>
          <div
            *ngIf="facilityForm.controls.rentType?.invalid&&(facilityForm.controls.rentType?.dirty || facilityForm.controls.rentType?.touched || submit)">
            <div *ngIf="facilityForm.controls.rentType?.errors.required">
              <small class="form-text text-muted">Rent Type can not bank</small>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group form-select-custom">
          <select id="" formControlName="standardRoom">
            <option disabled selected value="">Standard</option>
            <option value="1">Normal</option>
            <option value="2">Vip</option>
            <option value="3">President</option>
          </select>
          <div
            *ngIf="facilityForm.controls.standardRoom?.invalid&&(facilityForm.controls.standardRoom?.dirty || facilityForm.controls.standardRoom?.touched || submit)">
            <div *ngIf="facilityForm.controls.standardRoom?.errors.required">
              <small class="form-text text-muted">Standard Room can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.standardRoom?.errors.pattern">
              <small class="form-text text-muted">Invalid Standard Room</small>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input class="form-control" formControlName="area" placeholder="Enter Area" required type="text">
          <div
            *ngIf="facilityForm.controls.area?.invalid&&(facilityForm.controls.area?.dirty || facilityForm.controls.area?.touched || submit)">
            <div *ngIf="facilityForm.controls.area?.errors.required">
              <small class="form-text text-muted">Area can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.area?.errors.pattern">
              <small class="form-text text-muted">Area must be position integer</small>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input class="form-control" formControlName="maxPeople" placeholder="Enter People" required type="text">
          <div
            *ngIf="facilityForm.controls.maxPeople?.invalid&&(facilityForm.controls.maxPeople?.dirty || facilityForm.controls.maxPeople?.touched || submit)">
            <div *ngIf="facilityForm.controls.maxPeople?.errors.required">
              <small class="form-text text-muted">People can not bank</small>
            </div>
            <div *ngIf="facilityForm.controls.maxPeople?.errors.pattern">
              <small class="form-text text-muted">People must be position integer</small>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 gutters-19">
        <div class="form-group">
          <input class="form-control" formControlName="image" placeholder="Enter URL Image" required type="text">
          <div
            *ngIf="facilityForm.controls.image?.invalid&&(facilityForm.controls.image?.dirty || facilityForm.controls.image?.touched || submit)">
            <div *ngIf="facilityForm.controls.image?.errors.required">
              <small class="form-text text-muted">Image can not bank</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 gutters-19">
        <div class="form-group form-select-custom">
          <!--          <select class="custom-select" #sel [ngModel]="sel" (ngModelChange)="selectItem($event)">-->
          <!--            <option *ngFor="let item of items" [ngValue]="item" >-->
          <!--              {{item.name}}-->
          <!--            </option>-->
          <!--          </select>-->

          <select class="form-select-custom" (ngModelChange)="changeValue($event)"
                  [compareWith]="compareFacilityTypeByID" formControlName="facilityType">
            <option disabled selected value="">Facility Type</option>
            <option [ngValue]="type" *ngFor="let type of facilityTypes">{{type.name}}</option>
          </select>
          <div
            *ngIf="facilityForm.controls.facilityType?.invalid&&(facilityForm.controls.facilityType?.dirty || facilityForm.controls.facilityType?.touched)">
            <div *ngIf="facilityForm.controls.facilityType?.errors.required">
              <small class="form-text text-muted">Facility Type can not bank</small>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="row" [hidden]="villa" id="villa_items">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Pool Area" required type="text">
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Number Floor" required type="text">
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>


    <div class="row" [hidden]="house" id="house_items">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Number Floor" required type="text">
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>


    <div class="row" [hidden]="room" id="room_items">
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" name="url" placeholder="Enter Description" required type="text">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group row">
        <div class="col-6">
          <button class="button button--active button-form" type="submit">Update
          </button>
        </div>
        <div class="col-6">
          <a [routerLink]="['/facility/list']"
             class="button button--cancel cancel-banner-btn text-center col-12">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- ================ end form area ================= -->
