
<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Facilities</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Facilities</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start banner form ================= -->
<form class="form-search form-search-position accomodation">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter your keywords.." required type="text">
        </div>
      </div>

      <div class="col-lg-6 gutters-19">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <div class="form-select-custom">
                <select id="" name="">
                  <option disabled selected value="">Arrival</option>
                  <option value="8 AM">8 AM</option>
                  <option value="12 PM">12 PM</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm gutters-19">
            <div class="form-group">
              <div class="form-select-custom">
                <select id="" name="">
                  <option disabled selected value="">Number of room</option>
                  <option value="8 AM">8 AM</option>
                  <option value="12 PM">12 PM</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="">
              <option disabled selected value="">Departure</option>
              <option value="8 AM">8 AM</option>
              <option value="12 PM">12 PM</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="">
              <option disabled selected value="">Adult</option>
              <option value="8 AM">8 AM</option>
              <option value="12 PM">12 PM</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select id="" name="">
              <option disabled selected value="">Child</option>
              <option value="8 AM">8 AM</option>
              <option value="12 PM">12 PM</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <button class="button button--active button-form" type="submit">Check Availability</button>
        </div>
      </div>
    </div>

  </div>
</form>
<!-- ================ end banner form ================= -->


<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/bed-icon.png">
      </div>

      <h2>Explore Our Rooms</h2>
    </div>
    <div class="form-group">
      <a class="button button--active button-form text-center col-lg-3"
         [routerLink]="['/facility-create']">Create Facility</a>

    </div>
    <div class="card-all">
      <div class="row pb-4">
        <div class="col-md-6 col-xl-4 mb-5" *ngFor="let item of facilities">
          <div class="card card-explore">
            <div class="card-explore__img">
              <img alt="" class="card-img" [src]="item.image">
            </div>

            <div class="card-body">
              <h3 class="card-explore__price">${{item.cost}} <sub>/ Per Night</sub></h3>
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-explore__title"><a href="#">{{item.name}}</a></h4>
                <div class="dropout d-flex align-items-center">
                  <button class="more">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <button class="btn btn-warning">
                        <i class='ti-settings'></i>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-danger" data-target="#deleteModal"
                              data-toggle="modal">
                        <i class='bx bx-trash'></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>

              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved
                blessed </p>
              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>
            </div>

          </div>
        </div>

        <div class="m-3 mx-auto">
          <div class="row d-flex justify-content-center">
            <nav aria-label="Page navigation example" style="width: initial"
                 th:fragment="pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link">
                    Previous
                    <!--                            <i class="fas fa-chevron-left"></i>-->
                  </a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link disabled" href="#" th:text="${employeeList.number + 1}">1</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link disabled" href="#">/</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link disabled" href="#" th:text="${employeeList.totalPages}">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link">
                    Next
                    <!--                            <i class="fas fa-chevron-left"></i>-->
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="card-all">-->
<!--      <div class="row pb-4">-->
<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore1.png">-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$150.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Classic Bed Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->

<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore2.png">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$170.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Premium Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore3.png">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$190.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Family Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore4.png">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$120.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Single Bed Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore5.png">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$130.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Classic Bed Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-xl-4 mb-5">-->
<!--          <div class="card card-explore">-->
<!--            <div class="card-explore__img">-->
<!--              <img alt="" class="card-img" src="../../../assets/img/home/explore6.png">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h3 class="card-explore__price">$150.00 <sub>/ Per Night</sub></h3>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <h4 class="card-explore__title"><a href="#">Family Room</a></h4>-->
<!--                <div class="dropout d-flex align-items-center">-->
<!--                  <button class="more">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                  </button>-->
<!--                  <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-warning">-->
<!--                        <i class='ti-settings'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                      <button class="btn btn-danger" data-target="#deleteModal"-->
<!--                              data-toggle="modal">-->
<!--                        <i class='bx bx-trash'></i>-->
<!--                      </button>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved-->
<!--                blessed </p>-->
<!--              <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="m-3 mx-auto">-->
<!--          <div class="row d-flex justify-content-center">-->
<!--            <nav aria-label="Page navigation example" style="width: initial"-->
<!--                 th:fragment="pagination">-->
<!--              <ul class="pagination">-->
<!--                <li class="page-item">-->
<!--                  <a class="page-link">-->
<!--                    Previous-->
<!--                    &lt;!&ndash;                            <i class="fas fa-chevron-left"></i>&ndash;&gt;-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class="page-item disabled">-->
<!--                  <a class="page-link disabled" href="#" th:text="${employeeList.number + 1}">1</a>-->
<!--                </li>-->
<!--                <li class="page-item disabled">-->
<!--                  <a class="page-link disabled" href="#">/</a>-->
<!--                </li>-->
<!--                <li class="page-item disabled">-->
<!--                  <a class="page-link disabled" href="#" th:text="${employeeList.totalPages}">2</a>-->
<!--                </li>-->
<!--                <li class="page-item">-->
<!--                  <a class="page-link">-->
<!--                    Next-->
<!--                    &lt;!&ndash;                            <i class="fas fa-chevron-left"></i>&ndash;&gt;-->
<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </nav>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>
<!-- ================ Explore section end ================= -->



<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Employee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="button button--cancel cancel-banner-btn" data-dismiss="modal" value="Cancel">
          <input type="submit" class="button button--active button-form" value="Delete">
        </div>
      </form>
    </div>
  </div>
</div>
