<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Facilities</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Facilities</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start banner form ================= -->

<form class="form-search form-search-position accomodation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter name keywords.." #name type="text">
        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter cost keywords.." #cost required type="text">
        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <div class="form-select-custom">
            <select #facilityType>
              <option value="">Choose Facility Type</option>
              <option [value]="type.id" *ngFor="let type of facilityTypes">{{type.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <button class="button button--active button-form" type="button"
                  (click)="searchFacility(name,cost,facilityType)">Search</button>
        </div>
      </div>
    </div>

  </div>
</form>
<!-- ================ end banner form ================= -->


<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/bed-icon.png">
      </div>

      <h2>Explore Our Rooms</h2>
    </div>
    <div class="form-group">
      <a class="button button--active button-form text-center col-lg-3"
         [routerLink]="['/facility/create']">Create Facility</a>

    </div>
    <div class="card-all">
      <div class="row pb-4">
        <div class="col-md-6 col-xl-4 mb-5" *ngFor="let item of facilities
        | paginate : { itemsPerPage: 6, currentPage: p }; index as i">
          <div class="card card-explore">
            <div [routerLink]="['/facility/detail',item.id]" class="card-explore__img">
              <img alt="" class="card-img" [src]="item.image">
            </div>

            <div class="card-body">
              <h3 class="card-explore__price">${{item.cost}} <sub>/ Per Night</sub></h3>
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-explore__title"><a [routerLink]="['/facility/detail',item.id]">{{item.name}}</a></h4>
                <div class="dropout d-flex align-items-center">
                  <button class="more">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <a [routerLink]="['/facility/edit',item.id]" class="btn btn-warning">
                        <i style="color: white" class='ti-settings'></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-danger" data-target="#deleteModal" (click)="showMessage(item.name,item.id)"
                              data-toggle="modal">
                        <i class='bx bx-trash'></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>

              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved
                blessed </p>
              <a class="card-explore__link" [routerLink]="['/facility/detail',item.id]">Book Now <i
                class="ti-arrow-right"></i></a>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div style="justify-content: space-around;display: flex;">
      <pagination-controls (pageChange)="p = $event" class="page-item"></pagination-controls>
    </div>


  </div>
</section>
<!-- ================ Explore section end ================= -->


<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Facility</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <span style="color: #cca772; font-weight: bold">{{nameToDelete}}</span> ?
          </p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <input (click)="deleteModal()" type="submit" class="button button--active button-form" data-dismiss="modal"
                 value="Delete">
          <input type="button" class="button button--cancel cancel-banner-btn" data-dismiss="modal" value="Cancel">
        </div>
      </form>
    </div>
  </div>
</div>
