<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Update Customer</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Update Customer</li>
          </ol>
          <a [routerLink]="['/customer/list']">Back Customer List</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start form area ================= -->
<form class="form-search form-search-position" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="form-group">
          <input  placeholder="Enter Customer Code" class="form-control" type="hidden" formControlName="id" readonly>
          <div
            *ngIf="customerForm.controls.id?.invalid&&(customerForm.controls.id?.dirty
            || customerForm.controls.id?.touched || submit)">
            <div *ngIf="customerForm.controls.id?.errors.required">
              <small class="form-text text-muted">Code can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.id?.errors.pattern">
              <small class="form-text text-muted">Invalid Code</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 gutters-19">
        <div class="form-group">
          <input id="customerName" class="form-control" placeholder="Enter Customer Name" required type="text"
                 formControlName="customerName">
          <div
            *ngIf="customerForm.controls.customerName?.invalid&&(customerForm.controls.customerName?.dirty
            || customerForm.controls.customerName?.touched || submit)">
            <div *ngIf="customerForm.controls.customerName?.errors.required">
              <small class="form-text text-muted">Email can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerName?.errors.pattern">
              <small class="form-text text-muted">Invalid Email</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input id="birthday" placeholder="Enter Birthday" class="form-control" type="text"
                 formControlName="customerBirthday"
                 onfocus="(this.type='date')">
          <div
            *ngIf="customerForm.controls.customerBirthday?.invalid&&(customerForm.controls.customerBirthday?.dirty
            || customerForm.controls.customerBirthday?.touched || submit)">
            <div *ngIf="customerForm.controls.customerBirthday?.errors.required">
              <small class="form-text text-muted">Birthday can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerBirthday?.errors.pattern">
              <small class="form-text text-muted">Invalid birthday</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3  gutters-19">
        <div class="form-group form-select-custom">
          <select id="gender" formControlName="customerGender">
            <option disabled selected value="">Gender</option>
            <option value="0">Female</option>
            <option value="1">Male</option>
            <option value="-1">Other</option>
          </select>
          <div
            *ngIf="customerForm.controls.customerGender?.invalid&&(customerForm.controls.customerGender?.dirty
            || customerForm.controls.customerGender?.touched || submit)">
            <div *ngIf="customerForm.controls.customerGender?.errors.required">
              <small class="form-text text-muted">Gender can not bank</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter ID Card" formControlName="customerIdCard" required type="text">
          <div
            *ngIf="customerForm.controls.customerIdCard?.invalid&&(customerForm.controls.customerIdCard?.dirty
            || customerForm.controls.customerIdCard?.touched || submit)">
            <div *ngIf="customerForm.controls.customerIdCard?.errors.required">
              <small class="form-text text-muted">ID Card can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerIdCard?.errors.pattern">
              <small class="form-text text-muted">Invalid ID Card</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Phone Number" formControlName="customerPhone"
                 required type="text">
          <div
            *ngIf="customerForm.controls.customerPhone?.invalid&&(customerForm.controls.customerPhone?.dirty
            || customerForm.controls.customerPhone?.touched || submit)">
            <div *ngIf="customerForm.controls.customerPhone?.errors.required">
              <small class="form-text text-muted">Phone Number can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerPhone?.errors.pattern">
              <small class="form-text text-muted">Invalid Phone Number</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Email" formControlName="customerEmail" required type="text">
          <div
            *ngIf="customerForm.controls.customerEmail?.invalid&&(customerForm.controls.customerEmail?.dirty
            || customerForm.controls.customerEmail?.touched || submit)">
            <div *ngIf="customerForm.controls.customerEmail?.errors.required">
              <small class="form-text text-muted">Email can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerEmail?.errors.customerEmail">
              <small class="form-text text-muted">Invalid Email</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Address" formControlName="customerAddress"
                 required type="text">
          <div
            *ngIf="customerForm.controls.customerAddress?.invalid&&(customerForm.controls.customerAddress?.dirty
            || customerForm.controls.customerAddress?.touched || submit)">
            <div *ngIf="customerForm.controls.customerAddress?.errors.required">
              <small class="form-text text-muted">Address can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.customerAddress?.errors.pattern">
              <small class="form-text text-muted">Invalid Address</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter URL Image" formControlName="image" required type="text">
          <div
            *ngIf="customerForm.controls.image?.invalid&&(customerForm.controls.image?.dirty
            || customerForm.controls.image?.touched || submit)">
            <div *ngIf="customerForm.controls.image?.errors.required">
              <small class="form-text text-muted">URL Image can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.image?.errors.pattern">
              <small class="form-text text-muted">Invalid URL Image</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3  gutters-19">
        <div class="form-group form-select-custom">
          <select id="" formControlName="customerType"
                  [compareWith]="compareByID">
            <option disabled selected value="">Customer Type</option>
            <option [ngValue]="type" *ngFor="let type of customerTypes">{{type.customerTypeName}}</option>
          </select>

          <div
            *ngIf="customerForm.controls.customerType?.invalid&&(customerForm.controls.customerType?.dirty
            || customerForm.controls.customerType?.touched|| submit)">
            <div *ngIf="customerForm.controls.customerType?.errors.required">
              <small class="form-text text-muted">Customer Type can not bank</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">

        <button class="button button-form button--active" type="submit">Save</button>
      </div>
      <div class="col-6">
        <a [routerLink]="['/customer/list']"
           class="button button--cancel cancel-banner-btn text-center col-12">Cancel</a>
      </div>
    </div>
  </div>
</form>
<!-- ================ end form area ================= -->
