<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Create Customer</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Create Customer</li>
          </ol>
          <a [routerLink]="['/customer-list']">Back Customer List</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ start form area ================= -->
<form class="form-search form-search-position" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input  placeholder="Enter Customer Code" class="form-control" type="text" formControlName="code" readonly>
          <div
            *ngIf="customerForm.controls.code?.invalid&&(customerForm.controls.code?.dirty || customerForm.controls.code?.touched)">
            <div *ngIf="customerForm.controls.code?.errors.required">
              <small class="form-text text-muted">Code can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.code?.errors.pattern">
              <small class="form-text text-muted">Invalid Code</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input id="name" class="form-control" placeholder="Enter Customer Name" required type="text"
                 formControlName="name">
          <div
            *ngIf="customerForm.controls.name?.invalid&&(customerForm.controls.name?.dirty || customerForm.controls.name?.touched)">
            <div *ngIf="customerForm.controls.name?.errors.required">
              <small class="form-text text-muted">Email can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.name?.errors.pattern">
              <small class="form-text text-muted">Invalid Email</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 gutters-19">
        <div class="form-group">
          <input id="birthday" placeholder="Enter Birthday" class="form-control" type="text" formControlName="birthDay"
                 onfocus="(this.type='date')">
          <div
            *ngIf="customerForm.controls.birthDay?.invalid&&(customerForm.controls.birthDay?.dirty || customerForm.controls.birthDay?.touched)">
            <div *ngIf="customerForm.controls.birthDay?.errors.required">
              <small class="form-text text-muted">Birthday can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.birthDay?.errors.pattern">
              <small class="form-text text-muted">Invalid birthday</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2  gutters-19">
        <div class="form-group form-select-custom">
          <select id="gender" formControlName="gender">
            <option disabled selected value="">Gender</option>
            <option value="0">Female</option>
            <option value="1">Male</option>
            <option value="2">Other</option>
          </select>
          <div
            *ngIf="customerForm.controls.gender?.invalid&&(customerForm.controls.gender?.dirty || customerForm.controls.gender?.touched)">
            <div *ngIf="customerForm.controls.gender?.errors.required">
              <small class="form-text text-muted">Gender can not bank</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter ID Card" formControlName="idCard" required type="text">
          <div
            *ngIf="customerForm.controls.idCard?.invalid&&(customerForm.controls.idCard?.dirty || customerForm.controls.idCard?.touched)">
            <div *ngIf="customerForm.controls.idCard?.errors.required">
              <small class="form-text text-muted">ID Card can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.idCard?.errors.pattern">
              <small class="form-text text-muted">Invalid ID Card</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Phone Number" formControlName="phone" required type="text">
          <div
            *ngIf="customerForm.controls.phone?.invalid&&(customerForm.controls.phone?.dirty || customerForm.controls.phone?.touched)">
            <div *ngIf="customerForm.controls.phone?.errors.required">
              <small class="form-text text-muted">Phone Number can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.phone?.errors.pattern">
              <small class="form-text text-muted">Invalid Phone Number</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Email" formControlName="email" required type="text">
          <div
            *ngIf="customerForm.controls.email?.invalid&&(customerForm.controls.email?.dirty || customerForm.controls.email?.touched)">
            <div *ngIf="customerForm.controls.email?.errors.required">
              <small class="form-text text-muted">Email can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.email?.errors.email">
              <small class="form-text text-muted">Invalid Email</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter Address" formControlName="address" required type="text">
          <div
            *ngIf="customerForm.controls.address?.invalid&&(customerForm.controls.address?.dirty || customerForm.controls.address?.touched)">
            <div *ngIf="customerForm.controls.address?.errors.required">
              <small class="form-text text-muted">Address can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.address?.errors.pattern">
              <small class="form-text text-muted">Invalid Address</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg gutters-19">
        <div class="form-group">
          <input class="form-control" placeholder="Enter URL Image" formControlName="image" required type="text">
          <div
            *ngIf="customerForm.controls.image?.invalid&&(customerForm.controls.image?.dirty || customerForm.controls.image?.touched)">
            <div *ngIf="customerForm.controls.image?.errors.required">
              <small class="form-text text-muted">URL Image can not bank</small>
            </div>
            <div *ngIf="customerForm.controls.image?.errors.pattern">
              <small class="form-text text-muted">Invalid URL Image</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3  gutters-19">
        <div class="form-group form-select-custom">
          <select id="" formControlName="customerType"
                  [compareWith]="compareByID">
            <option disabled selected value="">Customer Type</option>
            <option [ngValue]="type" *ngFor="let type of customerTypes">{{type.name}}</option>
          </select>

          <div
            *ngIf="customerForm.controls.customerType?.invalid&&(customerForm.controls.customerType?.dirty || customerForm.controls.customerType?.touched)">
            <div *ngIf="customerForm.controls.customerType?.errors.required">
              <small class="form-text text-muted">Customer Type can not bank</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">

        <button class="button button-form button--active" type="submit">Save</button>
      </div>
      <div class="col-6">
        <a [routerLink]="['/customer-list']"
           class="button button--cancel cancel-banner-btn text-center col-12">Cancel</a>
      </div>
    </div>
  </div>
</form>
<!-- ================ end form area ================= -->
